---
import id from "../i18n/id.json";
import { Image } from "astro:assets";
import AnisRizky from "../assets/images/anis_rizky.png";
import SideFlower from "../assets/images/side_flower.png";
import FlowerArrangements from "../assets/images/flower_arrangements.png";
---

<!-- bg-[#7169a7] -->
<section
  id="invitationEnvelop"
  class="fixed inset-0 z-100 bg-[#f0e6ef] min-w-full min-h-full transition-all duration-1000 ease-out"
>
  <div class="min-w-full absolute -top-3/12 flex justify-center items-center opacity-0 sm:opacity-100">
    <Image
      src={FlowerArrangements}
      alt="Flower Arrangements"
      class="h-auto w-9/12"
      fetchpriority="high"
      loading="eager"
      format="webp"
    />
  </div>

  <div
    class="absolute min-w-screen h-[50vh] flex flex-row items-center justify-between z-0 sm:min-h-screen"
  >
    <Image
      src={SideFlower}
      alt="Flower Left"
      format="webp"
      loading="eager"
      fetchpriority="high"
      class="w-1/3 h-auto sm:w-2/12"
    />
    <Image
      src={SideFlower}
      alt="Flower Right"
      format="webp"
      class="scale-x-[-1] w-1/3 h-auto sm:w-2/12"
      loading="lazy"
    />
  </div>

  <div
    class="py-8 flex flex-col gap-12 items-center z-10 sm:flex-row sm:justify-center sm:min-h-screen sm:gap-24 sm:py-0"
  >
    <Image
      src={AnisRizky}
      alt="Anis & Rizky"
      format="webp"
      loading="eager"
      fetchpriority="high"
      class="h-auto w-4/12 sm:w-2/12"
    />
    <div
      class="flex flex-col gap-3 items-center font-monallesia text-center px-2 text-black sm:gap-6"
    >
      <span class="text-xl sm:text-3xl">{id.common.wedding}</span>
      <span class="text-black pt-4 pb-10 text-4xl text-shadow-sm sm:text-7xl"
        >Rizky & Anis</span
      >
      <span class="text-sm sm:text-xl">Kepada Yth, Bapak/Ibu/Saudara/i</span>
      <span
        class="text-xl opacity-0 transition sm:text-2xl"
        id="guest"
        data-default="Tamu Undangan">-</span
      >
      <span class="text-xs sm:text-lg"
        >Silakan klik tombol di bawah untuk membuka undangan Pernikahan.</span
      >
      <button
        id="openButton"
        class="bg-[#515a44] text-white text-base py-2 px-4 rounded-md transition font-sans mt-8 active:brightness-90 active:scale-95 sm:py-4 sm:px-8 sm:text-xl z-100"
        >Buka Undangan</button
      >
    </div>
  </div>
</section>

<script is:inline>
  (() => {
    const guestEl = document.getElementById("guest");
    const mainContentEl = document.getElementById("mainContent");
    const loaderEl = document.getElementById("pageLoader");

    let guestValue = new URLSearchParams(location.search).get("to");

    if (guestValue) {
      guestValue = guestValue.replace(/\s+/g, " ").trim();

      if (/^[\w .,'-]{1,40}$/.test(guestValue)) {
        guestEl.textContent = guestValue;
      } else {
        guestEl.textContent = guestEl.dataset.default;
      }
    } else {
      guestEl.textContent = guestEl.dataset.default;
    }

    guestEl?.classList.remove("opacity-0");

    const openButton = document.getElementById("openButton");
    const envelop = document.getElementById("invitationEnvelop");

    openButton?.addEventListener("click", () => {
      mainContentEl.classList.remove("hidden");
      envelop.style.opacity = "0";
      envelop.style.pointerEvents = "none";
      envelop.style.transform = "translateY(-20px)";
      loaderEl.remove();
    });
  })();
</script>
